body {
    color: #fff;
    background: #17181c;
    font-family: sans-serif;
}

header {
    padding: 10px 30px;
    position: relative;
}

header h1 {
    font-size: 40px;
    font-weight: 800;
}

li,
p {
    list-style-type: none;
    margin: 5px;
    margin-left: 15px;
    padding: 0;
    /* Убираем маркеры */
}

/*-------- FOOTER--------------*/

footer {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer .copyright {
    font-size: 14px;
    color: #333;
    text-align: center;
}
footer .copyright a {
    color: #444;
}
footer .copyright a:hover {
    color: #555;
}
footer .copyright:before {
    content: '©';
}

.footer-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-item_link, .footer-item {
    color: #444;
}

.footer-item_link:hover,
.footer-item_link:focus {
    color: #555;
}

.footer__logo {
    transition: transform 0.25s;
}

.footer__logo:hover,
.footer__logo:focus {
    transform: scale(1.1);    
}

@media (max-width: 640px) {
    header h1 {
        font-size: 40px;
        font-weight: 800;
        text-align: center; 
    }
}

@media (max-width: 500px) {
    footer {
        flex-wrap: wrap;
        column-gap: 20px;
        row-gap: 5px;
        justify-content: center;
    }
}

